<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <link rel="canonical" href="./index.html" >
    <title><%= post.title %> - <%= config.subtitle %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <% if (isVimeoContain){ %>
    <script async custom-element="amp-vimeo" src="https://cdn.ampproject.org/v0/amp-vimeo-0.1.js"></script>
    <% } %>
    <% if (isYoutubeContain){ %>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <% } %>
    <% if (isSimplecastContain){ %>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    <% } %>
    <% if (config.generator_amp.google_analytics){ %>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <% } %>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "BlogPosting",
			"headline": "<%= post.title %>",
			<% if (post.description){ %>
			"description": "<%= post.description %>",
			<% } else if (post.excerpt){ %>
			"description": "<%= post.excerpt %>",
			<% } %>
			"mainEntityOfPage":{
			    "@type":"WebPage",
			    "@id":"<%= config.url %>/<%= post.path %>"
			},
			<% if (post.eyeCatchImage && post.eyeCatchImage != "" && post.eyeCatchImageProperty && post.eyeCatchImageProperty.width && post.eyeCatchImageProperty.height){ %>
			"image": {
				"@type": "ImageObject",
				"url": "<%= post.eyeCatchImage %>",
				"width" : "<%= post.eyeCatchImageProperty.width %>",
				"height" : "<%= post.eyeCatchImageProperty.height %>"
			},
			<% } %>
			"author": {
			    "@type": "Person",
			    "name": "<%= config.author %>"
			},
			"publisher": {
			    "@type": "Organization",
			    "name": "<%= config.title %>"
			    <% if (config.generator_amp.logo.height && config.generator_amp.logo.width && config.generator_amp.logo.height){ %>
			    ,
			    "logo": {
			      "@type": "ImageObject",
			      "url": "<%= config.url %>/<%= config.generator_amp.logo.path %>",
			      "width": <%= config.generator_amp.logo.width %>,
			      "height": <%= config.generator_amp.logo.height %>
			    }
			    <% } %>
			}
		}
	</script>
  <% var locale = config.locale;
     var lang = config.language;
     var prefix = config.url + '/..';
     if (lang !== 'en') {
      prefix = prefix + '/..';
     }
  %>
	<% if (cssTxt != ""){ %>
	<style amp-custom>
		<%- cssTxt %>
	</style>
	<% } %>
  </head>
  <body>
  	
  	<!-- google analytics -->
  	<% if (config.generator_amp.google_analytics){ %>
  	<amp-analytics type="googleanalytics" id="google-analytics">
		<script type="application/json">
		{
		  "vars": {
		    "account": "<%- config.generator_amp.google_analytics %>"
		  },
		  "triggers": {
		    "trackPageview": {
		      "on": "visible",
		      "request": "pageview"
		    },
        "trackClickOnHeaderLogo": {
          "selector": "#header-logo",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "header",
            "eventAction": "click",
            "eventLabel": "header click logo"
          } 
        },
        "trackClickOnHeaderFeatures": {
          "selector": "#header-features",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "header",
            "eventAction": "click",
            "eventLabel": "header click features"
          } 
        },
        "trackClickOnHeaderPricing": {
          "selector": "#header-pricing",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "header",
            "eventAction": "click",
            "eventLabel": "header click pricing"
          }
        },
        "trackClickOnHeaderClients": {
          "selector": "#header-clients",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "header",
            "eventAction": "click",
            "eventLabel": "header click clients"
          } 
        },
        "trackClickOnHeaderContact": {
          "selector": "#header-contact",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "header",
            "eventAction": "click",
            "eventLabel": "header click contact"
          } 
        },
        "trackClickOnHeaderTryNow": {
          "selector": "#header-try-now",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "header",
            "eventAction": "click",
            "eventLabel": "header click try-now"
          } 
        },
        "trackClickOnHeaderGoToMinsh": {
          "selector": "#header-go-to-minsh",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "header",
            "eventAction": "click",
            "eventLabel": "header click go-to-minsh"
          } 
        },
        "trackClickOnFooterHello": {
          "selector": "#footer-hello",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "footer",
            "eventAction": "click",
            "eventLabel": "footer click hello@minsh.com"
          } 
        },
        "trackClickOnFooterFeatures": {
          "selector": "#footer-features",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "footer",
            "eventAction": "click",
            "eventLabel": "footer click features"
          } 
        },
        "trackClickOnFooterPricing": {
          "selector": "#footer-pricing",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "footer",
            "eventAction": "click",
            "eventLabel": "footer click pricing"
          } 
        },
        "trackClickOnFooterClients": {
          "selector": "#footer-clients",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "footer",
            "eventAction": "click",
            "eventLabel": "footer click clients"
          } 
        },
        "trackClickOnFooterContact": {
          "selector": "#footer-contact",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "footer",
            "eventAction": "click",
            "eventLabel": "footer click contact"
          } 
        },
        "trackClickOnFooterAbout": {
          "selector": "#footer-about",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "footer",
            "eventAction": "click",
            "eventLabel": "footer click about"
          } 
        },
        "trackClickOnFooterPR": {
          "selector": "#footer-pr",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "footer",
            "eventAction": "click",
            "eventLabel": "footer click PR"
          } 
        },
        "trackClickOnFooterCommunityBuilding": {
          "selector": "#footer-community",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "footer",
            "eventAction": "click",
            "eventLabel": "footer click community building"
          } 
        },
        "trackClickOnFooterNews": {
          "selector": "#footer-news",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "footer",
            "eventAction": "click",
            "eventLabel": "footer click news"
          } 
        },
        "trackClickOnFooterUsingYourApp": {
          "selector": "#footer-using",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "footer",
            "eventAction": "click",
            "eventLabel": "footer click using your app"
          } 
        },
        "trackClickOnBlogLearnMore": {
          "selector": "#blog-learn-more",
          "on": "click",
          "request": "event",
          "vars": {
            "eventCategory": "blog",
            "eventAction": "click",
            "eventLabel": "blog click learn more"
          } 
        }
		  }
		}
		</script>
	</amp-analytics>
	<% } %>
  	
  	<div id="container" class="resources">
      <nav id="small-nav" role="navigation" class="blue-bg header navbar-fixed-top visible-lg-block">
        <div class="logo">
          <a id="header-logo" href="<%= prefix %><%= lang !== 'en' ? ('/' + lang) : '' %>/">
            <amp-img src="../../images/minsh_letters.png" width="97" height="30"></amp-img>
          </a>
        </div>
        <ul class="nav nav-pills navbar-right">
          <li class="pill visible-xs">
            <a id="header-go-to-minsh" class="header-cta" href="../.."><%= locale['Go to Minsh.com'][lang] %></a>
          </li>
          <!-- pills -->
          <li class="pill hidden-xs">
            <a id="header-features" class="white-text" href="<%= prefix %><%= lang !== 'en' ? ('/' + lang) : '' %>/#<%= locale['featuresUrl'][lang] %>"><%= locale['Features'][lang] %></a>
          </li>
          <li class="pill hidden-xs">
            <a id="header-pricing" class="white-text" href="<%= prefix %>/<%= locale['pricingUrl'][lang] %>.html"><%= locale['Pricing'][lang] %></a>
          </li>
          <li class="pill hidden-xs">
            <a id="header-clients" class="white-text" href="<%= prefix %>/<%= locale['clientsUrl'][lang] %>.html"><%= locale['Clients'][lang] %></a>
          </li>
          <li class="pill hidden-xs">
            <a id="header-contact" class="white-text" href="<%= prefix %>/<%= locale['contactUrl'][lang] %>.html"><%= locale['Contact'][lang] %></a>
          </li>
          <li class="pill hidden-xs">
          <a id="header-try-now" href="<%= prefix %><%= lang !== 'en' ? ('/' + lang) : '' %>/#<%= locale['tryItNowUrl'][lang] %>" class="header-cta"><%= locale['Try a demo'][lang] %></a>
          </li>
        </ul>
      </nav>
	  	
	  	<div class="outer">
        <section id="main">
	  	
		    <article id="<%= post.layout %>-<%= post.slug %>" class="post">
		    	
				<!-- entry title -->
				<header class="article-header">
          <h3><a href="../"><%= config.title %></a></h3>
					<% if (post.link){ %>
					  <h1 itemprop="name" class="entry-title">
					    <a class="article-title" href="<%- post.link %>" target="_blank" itemprop="url"><%= post.title %></a>
					  </h1>
					<% } else if (post.title){ %>
					  <h1 class="article-title entry-title" itemprop="name">
					    <%= post.title %>
					  </h1>
					<% } %>
				</header>
				
				<!-- entry content -->
			    <div class="entry-content ecp">
			  		<%- content %>
			  	</div>
				
		  	</article>
		  	
        </section>

		    <aside id="sidebar">
          <% if (post.tags.length) { %>
          <div class="widget-wrap">
            <div class="widget">
              <div class="widget-header">
                <h3 class="widget-title"><%- locale['Article topics'][lang] %></h3>
              </div>
              <div class="widget-content">
                <div class="font-normal widget-subtitle">
                  <ul class="tag-list">
                    <% post.tags.each(function(tag){ %>
                    <li class="tag-list-item">
                      <a class="tag-list-link" href="<%= config.url %>/<%= tag.path %>">
                        <%= tag.name %>
                      </a>
                    </li>
                    <% }) %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <div class="widget-wrap">
            <div class="widget ad">
              <div class="widget-content">
                <div class="widget-subtitle">
                   <%- locale['Get your dedicated messaging app for your'][lang] %> <%= locale['community'][lang] %>
                </div>
                <a id="blog-learn-more" class="text-right" href="<%= locale['homeUrl'][lang] %>">
                  <button class="get-started-button">
                    <span class="ad-button-text">
                      <%= locale['learn more'][lang] %>
                    </span>
                  </button>
                </a> 
              </div>
            </div>
          </div>
        </aside>
		  	
		</div>

    <div class="footer">
      <div class="inner">
        <ul>
          <h3>Minsh Apps</h3>
          <li>© Minsh 2016</li>
          <li>
            <a id="footer-hello" href="mailto:hello@minsh.com">
              <i class="fa fa-envelope"></i> hello@minsh.com
            </a>
          </li>
        </ul>
        <ul>
          <h3><%= locale['Product'][lang] %></h3>
          <li>
            <a id="footer-features" href="<%= prefix %><%= lang !== 'en' ? ('/' + lang) : '' %>/#<%= locale['featuresUrl'][lang] %>"><%= locale['Features'][lang] %></a>
          </li>
          <li>
            <a id="footer-pricing" href="<%= prefix %>/<%= locale['pricingUrl'][lang] %>.html"><%= locale['Pricing'][lang] %></a>
          </li>
          <li>
            <a id="footer-clients" href="<%= prefix %>/<%= locale['clientsUrl'][lang] %>.html"><%= locale['Clients'][lang] %></a>
          </li>
        </ul>
        <ul>
          <h3><%= locale['Resources'][lang] %></h3>
          <li><a id="footer-community" href="<%= prefix %>/<%= locale['communityBuildingUrl'][lang] %>"><%= locale['Community building'][lang] %></a></li>
          <li><a id="footer-using" href="<%= prefix %>/<%= locale['usingYourAppUrl'][lang] %>"><%= locale['Using your Minsh app'][lang] %></a></li>
          <li><a id="footer-news" href="<%= prefix %>/<%= locale['newsUrl'][lang] %>"><%= locale['Minsh news'][lang] %></a></li>
        </ul>
        <ul>
          <h3><%= locale['About'][lang] %></h3>
          <li>
            <a id="footer-about" href="<%= prefix %>/<%= locale['aboutUrl'][lang] %>.html"><%= locale['Team'][lang] %></a>
          </li>
          <li>
            <a id="footer-contact" href="<%= prefix %>/<%= locale['contactUrl'][lang] %>.html"><%= locale['Contact'][lang] %></a>
          </li>
          <li>
            <a id="footer-pr" href="<%= prefix %>/<%= locale['PRUrl'][lang] %>"><%= locale['Press Release'][lang] %></a>
          </li>
        </ul>
        <ul>
          <h3>Language</h3>
          <li>
            <a href="<%= locale['homeUrl']['en'] %>">EN</a>
          </li>
          <li>
            <a href="<%= locale['homeUrl']['fr'] %>">FR</a>
          </li>
          <li>
            <a href="https://minsh.com/pt_BR">PT(BR)</a>
          </li>
        </ul>
			</div>
		</div>
	</div>
  </body>
</html>
